/.BACKUP-GIT/
/build/
/classes/
/cobertura.ser
/*DB.*
*Db.properties
*Db.script
.DS_Store
/.git/
/.gradle/
/.idea/
*.iml
/.insync-trash/
*.iws
/.link_to_grails_plugins/
/*.log
/out/
/plugin.xml
.settings
stacktrace.log
*.swp
/target/
/target-eclipse/
/web-app/plugins
/web-app/WEB-INF/classes
/*.zip
